body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
    text-align: center;
}

/* Encabezado Principal */
h1 {
    color: #4CAF50; /* Verde */
    font-family: 'Verdana', sans-serif;
    margin-top: 20px;
}

/* Secciones */
section {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 20px auto;
    padding: 20px;
    max-width: 800px;
}

/* Títulos de Sección */
h2 {
    color: #FF5722; /* Naranja */
    font-family: 'Georgia', serif;
    margin-bottom: 10px;
}

img{
    height: 300px;
    width: 400px;
}